langchain==0.1.16
PyPDF2==3.0.1
python-dotenv==1.0.0
streamlit
faiss-cpu==1.7.4
altair<5
openai
tiktoken
langchain-openai
langchain-experimental
google-search-results
pydantic==1.10.9
openapi-pydantic
openapi-schema-pydantic
langchain-core
streamlit-folium
streamlit-echarts
re